@model WDLMassage.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h3>Permanently Delete Appointment?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Massage Type:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkmassageNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            Date:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedDate)
        </dd>
        <dt class="col-sm-2">
            Time:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedTime)
        </dd>
        <dt class="col-sm-2">
            Length:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration) minutes
        </dd>
        <dt class="col-sm-2">
            Price:
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Registered Client:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkclientNavigation.NameFirst) @Html.DisplayFor(model => model.FkclientNavigation.NameLast)
        </dd>
        <dt class="col-sm-2">
            Assigned Staff:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FkstaffNavigation.NameFirst) @Html.DisplayFor(model => model.FkstaffNavigation.NameLast)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AppointmentPk" />
        <input type="submit" value="Permanently Delete Appointment" class="btn btn-danger" /> |
        <a asp-action="Index">Back to All Appointments</a>
    </form>
</div>
