@model WDLMassage.Models.User

@{
    ViewData["Title"] = "Deactivate";
}

<h1>Deactivate Staff Member</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameFull)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedPhone)
        </dd>
        <dt class="col-sm-2">
            UserName
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Deactivate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserPk" />
        <input type="hidden" asp-for="NameFirst" />
        <input type="hidden" asp-for="NameLast" />
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Phone" />
        <input type="hidden" asp-for="Username" />
        <input type="hidden" asp-for="Password" />
        <input type="hidden" asp-for="IsAdmin" />
        <input type="submit" value="Deactivate" class="btn btn-danger" />
    </form>
</div>

<div>
    <br />
    <a asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}